<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Wizzard</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/src/styles.css">
</head>
<body>

    <div class="container" ng-controller="MainController as ctrl">

        <!-- Button trigger modal -->
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">IP camera</a></li>
                <li><a href="#">Analog camera</a></li>
                <li><a href="#">TX camera</a></li>
                <li><a href="#">ONVIF partner system camera</a></li>
            </ul>
        </div>


        <div class="row panel">
            <div class="step" data-state="active" toggle-active ng-click="ctrl.setCurrentStep(0)">1</div>
            <div class="step" data-state="normal" toggle-active ng-click="ctrl.setCurrentStep(1)">2</div>
            <div class="step" data-state="normal" toggle-active ng-click="ctrl.setCurrentStep(2)">3</div>


            <div ng-switch="ctrl.getCurrentStep()" class="slide-frame">
                <div ng-switch-when="one">Hello</div>
                <div ng-switch-when="two">World</div>
                <div ng-switch-when="three">!!!!!!!!!!</div>
            </div>

            <div class="nav-btns">
                <button class="btn btn-default" ng-click="ctrl.handleCancel()">Cancel</button>
                <button ng-if="!ctrl.isFirstStep()" ng-click="ctrl.handlePrevious()" class="btn btn-default">Prev</button>
                <button ng-click="ctrl.handleNext()" class="btn btn-default">{{ctrl.getNextLabel()}}</button>
            </div>
        </div>



    </div>

    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="src/module.js"></script>
    <script type="text/javascript" src="src/controllers.js"></script>
    <script type="text/javascript" src="src/directives.js"></script>
    <script type="text/javascript" src="src/services.js"></script>
</body>
</html>