<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Wizzard</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/src/styles.css">
</head>
<body>

    <div class="container" ng-controller="MainController as ctrl">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div ng-include="'./src/templates/header.html'"></div>
            </div>
            <div class="panel-body">
                <div ng-repeat="step in ctrl.steps" ng-if="!ctrl.isLastStep()">
                    <div ng-if="step === ctrl.getCurrentStep()">
                         <div ng-include="'./src/templates/panel.html'"></div>
                    </div>
                </div>

                <div ng-if="ctrl.isLastStep()">
                    <div ng-include="'./src/templates/summary.html'"></div>
                </div>

                <hr>

                <div ng-include="'./src/templates/footer.html'"></div>
            </div>
        </div>

    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/lodash/lodash.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="src/module.js"></script>
    <script type="text/javascript" src="src/controllers.js"></script>
    <script type="text/javascript" src="src/directives.js"></script>
    <script type="text/javascript" src="src/services.js"></script>
</body>
</html>
