<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Wizzard</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/src/styles.css">
</head>
<body>

    <div class="container" ng-controller="MainController as ctrl">

        <div class="panel panel-default">
            <div class="panel-heading">
            </div>

            <div class="panel-body" ng-repeat="choice in ctrl.choices">
                <div class="step"><h1>1</h1></div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 align-label">
                            <label class="control-label">
                                Title:
                            </label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="choice.value">
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer clearfix">
                <div ng-include="'./src/templates/footer.html'"></div>
            </div>

        </div>
        <pre>{{ ctrl.choices | json }}</pre>

    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/lodash/lodash.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="src/module.js"></script>
    <script type="text/javascript" src="src/controllers.js"></script>
    <script type="text/javascript" src="src/directives.js"></script>
    <script type="text/javascript" src="src/services.js"></script>
</body>
</html>
