<div class="panel-body">

    <div class="step"><h1>1</h1></div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-3 align-label">
                {{customerInfo.name}} Address: {{customerInfo.address}}
                <label class="control-label">
                    {{title}}
                </label>
            </div>
            <div class="col-sm-9">
                <select
                    class="form-control"
                    ng-options="field as field for field in field.choices"
                    ng-model="field.value">
                </select>
                <input type="text" class="form-control" ng-model="field.value">
            </div>
        </div>
    </div>
</div>