body {
    box-sizing: border-box;
    margin: 50px auto;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.btn-round {
    border-radius: 50%;
    margin-right: 10px;
    height: 40px;
    width: 40px;
}


.align-label {
    text-align: right;
}

.form-control {
    line-height: 34px;
}

.panel-body {
    position: relative;
}

.step {
    background: #5bc0de;
    color: #fff;
    height: 100%;
    width: 40px;
    position: absolute;
    top: 0;
    left: -40px;
    text-align: center;
    /*border-top-left-radius: 4px;*/
}









