body {
    box-sizing: border-box;
    margin: 50px auto;
}


.container {
    max-width: 800px;
    margin: 0 auto;
}

.btn-round {
    border-radius: 50%;
    margin-right: 10px;
    height: 40px;
    width: 40px;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

.align-label {
    text-align: right;
}

.form-control {
    line-height: 34px;
}
